In [1]:
import numpy as np
import pandas as pd

from UpdateDB_ref import Endpoint_annotation as ep

*** CompoundDB module found. Will check the synonyms table to resolve CAS. ***

In [2]:
ep_refactored = ep.Endpoint(host='gea', dbname='cii_v3_test_refactored_2', user='postgres', password='DBAdmin')

In [3]:
endpoints_ref = ep_refactored.get_endpoints()

In [4]:
ep_refactored.get_total_annotations_per_endpoint(endpoints_ref)

/home/emarch/miniconda3/envs/inditex/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

             Endpoints     YES  Pending     NO  No information
0                  cmr  1909.0     41.0  890.0          2832.0
1                  pbt    87.0      0.0  746.0          4839.0
2                 vpvb    97.0      0.0  746.0          4829.0
3  endocrine_disruptor   299.0      0.0    0.0          5373.0
4           sensitiser   133.0    129.0    0.0          2143.0
5              chem_id     0.0      0.0    0.0             0.0

In [5]:
endpoint_pos = pd.read_sql_query("""select pea.annotation_id, rn.names, pea.endpoint 
from positive_endpoint_annotations pea
left join regulation_names rn on rn.id = pea.annotation_id
order by pea.id """, ep_refactored.conn)

In [6]:
endpoint_dict = {'CMR':endpoint_pos.loc[endpoint_pos['endpoint'] == 'cmr','names'].tolist(),
                 'PBT':endpoint_pos.loc[endpoint_pos['endpoint'] == 'pbt','names'].tolist(),
                 'vPvB':endpoint_pos.loc[endpoint_pos['endpoint'] == 'vpvb','names'].tolist(),
                 'Endocrine Disruptor':endpoint_pos.loc[endpoint_pos['endpoint'] == 'endocrine disruptor','names'].tolist()}

In [7]:
chem_ids = ep_refactored.get_chem_id_dataframe()

In [15]:
subs = ep_refactored.get_substances()

In [24]:
len(chem_ids)

5672

In [22]:
len(subs)

5672

In [23]:
len(subs[['class_name','preferred_name','mol_formula']].drop_duplicates())

4611

In [14]:
len(chem_ids.loc[chem_ids['chem_type_id'] == 1, :])

4694

In [21]:
subs.loc[subs['preferred_name'] == "Hexabromo-1,1'-biphenyl"].sort_values(by='id')

        id         class_name           preferred_name mol_formula
5598   274   Flame Retardants  Hexabromo-1,1'-biphenyl    C12H4Br6
5599  5658   Flame Retardants  Hexabromo-1,1'-biphenyl    C12H4Br6

In [30]:
subs.loc[subs['id'] > 4610, :].sort_values(by='id')

,id,class_name,preferred_name,mol_formula
76,4611,nan,"Benzenemethanol, alpha-[2-(methylamino)ethyl]-...",C10H15NO
2706,4612,nan,"Ethanesulfonic acid, 2-[[[2,5-dichloro-4-[(2-m...",C17H15Cl2N4NaO5S2
548,4613,nan,Phenyl isothiocyanate,C7H5NS
3532,4614,nan,Vanadyl sulfate,O5SV
620,4615,nan,((2-Methylphenoxy)methyl)oxirane,C10H12O2
1635,4616,nan,Bisphenol S\nsynonym match: BPS 1,C12H10O4S
5666,4617,nan,"Benzenesulfonic acid, 2,5-dichloro-4-[[2-(dibu...",C27H32Cl2N6Na2O6S2
522,4618,nan,2-(7-methoxynaphthalen-1-yl)ethan-1-amine hydr...,C13H16ClNO
5060,4619,nan,Tributyl citrate,C18H32O7
314,4620,nan,Dimethoxydimethylsilane\nsynonym match: JJQZDU...,C4H12O2Si
3924,4621,nan,"Neodecanoic acid, zinc salt",C20H40O4Zn
2347,4622,nan,Zirconium butoxide\nsynonym match: Butyl zirco...,C16H36O4Zr
1245,4623,nan,Amphetamine\nsynonym match: (+/-)-Amphetamine ...,C9H13N
4471,4624,nan,Palladium tetraamine dichloride\nsynonym match...,Cl2H12N4Pd
1483,4625,nan,CHROMIUM(3+) ION HYDROGEN 1-{2-[4-(DIOXIDOAMIN...,C43H44CrN7O9
1529,4626,nan,"Ethanol, 2-[(3-aminopropyl)methylamino]-",C6H16N2O
4409,4627,nan,"2-PROPEN-1-OL, 3-PHENYL-",C9H10O
3038,4628,nan,"glycerides, C16-18 mono-",C62H88N6O18
1827,4629,nan,"beta-Alanine, N-ethyl-N-(4-(2-(5-nitro-2,1-ben...",C19H19N5O4S
1935,4630,nan,3-MERCAPTOPROPIONIC ACID METHYL ESTER,C4H8O2S
5318,4631,nan,[No public or meaningful name is available],C50H80N4O19
4412,4632,nan,"N,N-Diethyltrimethylenediamine",C7H18N2
3790,4633,nan,"Disodium 2-[[4,5-dihydro-3-methyl-5-oxo-1-(4-s...",C17H12N4Na2O6S
108,4634,nan,TRICHLORO(CHLOROMETHYL)SILANE,CH2Cl4Si
26,4635,Textile Chemicals,Sodium nitrite,HNO2.Na
36,4636,KEMI Reports,Triethyl phosphate,C6H15O4P
38,4637,Textile Chemicals,"1,2,3,4-Tetrahydronaphthalene",C10H12
40,4638,Disperse Dyes,1-amino-2-methylanthraquinone,C15H11NO2
44,4639,Textile Chemicals,"[Ethane-1,2-diylbis[nitrilobis(methylene)]]tet...",C6H20N2O12P4
51,4640,Textile chemicals,Diammonium hydrogenorthophosphate,H3N.1/2H3O4P
...,...,...,...,...
5533,5643,Glycols and Glycol Ethers,"1,2-Diethoxyethane",C6H14O2
5539,5644,Textile chemicals,"1,3-Dichloro-1,3,5-triazinetrione, sodim salt",C3HCl2N3O3.Na
5540,5645,Textile chemicals,"1,3-Dichloro-1,3,5-triazinetrione, sodim salt",C3HCl2N3O3.Na
5542,5646,Textile chemicals,Bis-(hydroxymethyl) urea,C3H8N2O3
5545,5647,Pesticides\nand\nHerbicides,"2-Methyl-4-oxo-3-(penta-2,4-dienyl)cyclopent-2...",C22H28O5
5554,5648,Textile Chemicals,"1,5-Pentanedial",C5H8O2
5556,5649,Textile Chemicals,2- Propanol,C3H8O
5561,5650,Textile Chemicals,Sodium trichloroacetate,C2HCl3O2.Na\n\n
5563,5651,Chlorinated and Other Phenols,"3,5-dichlorophenol",C6H4Cl2O
5575,5652,Phthalates,"Dibutyl phthalate (DBP) \n1,2-Benzenedicarboxy...",C16H22O4
5580,5653,Textile Chemicals,"Naphthenic acids, zinc salts",C22H14O4Zn
5582,5654,Textile Chemicals,"2,2',6,6'-Tetrabromo-4,4'-isopropylidenediphenol",C15H12Br4O2
5584,5655,Textile Chemicals,Toluene diisocyanate,C9H6N2O2
5592,5656,Chlorinated and Other Phenols,4-Hydroxybiphenyl,C12H10O
5594,5657,Chlorinated and Other Phenols,"2,3,4,6-Tetrachlorophenol",C6H2Cl4O
5599,5658,Flame Retardants,"Hexabromo-1,1'-biphenyl",C12H4Br6
5617,5659,Textile Chemicals,Zirconium acetate,C2H4O2.xZr
5620,5660,Phthalates,Di-n-hexyl phthalate (DNHP),C20H30O4
5622,5661,Textile Chemicals,Sodium tripolyphosphate,H5O10P3.5Na
5626,5662,UV filters,"2-(2 ́-Hydroxy-3,5 ́-di-tertbutylphenyl)benzot...",C20H25N3O
5630,5663,Textile chemicals,Tributyl O-acetylcitrate,C20H34O8
5636,5664,Pesticides\nand\nHerbicides,"2,2,2,o,p'-Pentachloroethylidenebisbenzene",C14H9Cl5
5640,5665,Textile Chemicals,4--Dodecyl-benzenesulfonic acid,C18H30O3S
5646,5666,Chlorinated Aromatic Compounds,1-Chloro-2-methylbenzene,C7H7Cl
5650,5667,Textile Chemicals,(2-Methoxymethylethoxy)propanol,C7H16O3
5652,5668,Textile chemicals,"4,6-Diamino-2-cyclopropylamino-pyrimidine-5-ca...",C8H10N6
5654,5669,Textile Chemicals,Silicon,Si
5658,5670,Textile Chemicals,Tetrasodium diphosphate,H4O7P2.4Na
5665,5671,PFCs,N-ethylheptadecafluorooctanesulphonamide\nN-et...,C10H6F17NO2S
5670,5672,Textile Chemicals,"2,2-Dimethylpropane-1,3-diol",C5H12O2

In [8]:
chem_ids_unique = chem_ids.loc[chem_ids['chem_type_id'] == 1, 'id'].unique()

In [9]:
%%time
chemid_endpoint = ep_refactored.get_annotations_for_chem_id(chem_ids_unique, endpoint_dict)

CPU times: user 2min 14s, sys: 1.97 s, total: 2min 16s
Wall time: 11min 48s

In [10]:
len(chemid_endpoint)

4694

In [11]:
chemid_endpoint.sort_values(by='chem_id').head()

,chem_id,CMR,PBT,vPvB,Endocrine Disruptor
24,1.0,YES,NO,NO,No information
25,2.0,No information,No information,No information,No information
26,5.0,YES,NO,NO,YES
27,7.0,YES,NO,NO,No information
28,9.0,YES,No information,No information,No information

In [11]:
len(endpoints_ref)

5672

In [12]:
endpoints_ref.sort_values(by='chem_id')

,id,cmr,pbt,vpvb,endocrine_disruptor,sensitiser,chem_id
0,0,YES,NO,NO,No information,YES,1
5080,5080,YES,NO,NO,No information,YES,2
5081,5081,YES,NO,NO,No information,YES,3
5082,5082,YES,NO,NO,No information,YES,4
1,1,YES,NO,NO,YES,No information,5
4661,4661,YES,NO,NO,YES,No information,6
2,2,YES,NO,NO,No information,No information,7
5446,5446,YES,NO,NO,No information,No information,8
3,3,YES,No information,No information,No information,No information,9
4764,4764,YES,No information,No information,No information,No information,10
4,4,YES,No information,No information,No information,No information,11
4723,4723,YES,No information,No information,No information,No information,12
5,5,YES,No information,No information,No information,No information,13
4767,4767,YES,No information,No information,No information,No information,14
6,6,YES,No information,No information,No information,No information,15
5632,5632,YES,No information,No information,No information,No information,16
7,7,YES,No information,No information,No information,No information,17
5495,5495,YES,No information,No information,No information,No information,18
8,8,YES,No information,No information,No information,No information,19
4787,4787,YES,No information,No information,No information,No information,20
9,9,YES,No information,No information,No information,No information,21
10,10,YES,No information,No information,No information,No information,22
5295,5295,YES,No information,No information,No information,No information,23
11,11,No information,No information,No information,No information,No information,24
12,12,YES,NO,NO,YES,No information,25
4660,4660,YES,NO,NO,YES,No information,26
13,13,YES,NO,NO,YES,No information,27
5074,5074,YES,NO,NO,YES,No information,28
14,14,YES,YES,YES,YES,No information,29
4830,4830,YES,YES,YES,YES,No information,30
...,...,...,...,...,...,...,...
4606,4606,YES,No information,No information,No information,None,5643
4607,4607,No information,No information,No information,No information,None,5644
4608,4608,YES,No information,No information,No information,None,5645
4609,4609,No information,No information,No information,No information,None,5646
4610,4610,No information,No information,No information,No information,None,5647
4611,4611,No information,No information,No information,No information,None,5648
4612,4612,YES,No information,No information,No information,None,5649
4613,4613,Pending,No information,No information,No information,None,5650
4614,4614,YES,No information,No information,No information,None,5651
4615,4615,YES,No information,No information,No information,None,5652
4616,4616,No information,No information,No information,No information,None,5653
4617,4617,No information,No information,No information,No information,None,5654
4618,4618,No information,No information,No information,No information,None,5655
4619,4619,YES,No information,No information,No information,None,5656
4620,4620,No information,No information,No information,No information,None,5657
4621,4621,No information,No information,No information,No information,None,5658
4622,4622,NO,No information,No information,No information,None,5659
4623,4623,No information,No information,No information,No information,None,5660
4624,4624,No information,No information,No information,No information,None,5661
4625,4625,No information,No information,No information,No information,None,5662
4626,4626,NO,No information,No information,No information,None,5663
4627,4627,No information,No information,No information,No information,None,5664
4628,4628,No information,No information,No information,No information,None,5665
4629,4629,No information,No information,No information,No information,None,5666
4630,4630,No information,No information,No information,No information,None,5667
4631,4631,YES,No information,No information,No information,None,5668
4632,4632,No information,No information,No information,No information,None,5669
4633,4633,No information,No information,No information,No information,None,5670
225,225,No information,No information,No information,No information,No information,5671
510,510,YES,No information,No information,No information,YES,5672

### Here it should come the check part
After getting the endpoint annotations per substance, and at the same time we update the database with them, the check function should come.
Before updating the DB, the check function should see if there's a substance id in the table.
If no, adds the new substance with the annotations.
If there is, then it checks the annotations and applies the filters we've spoken

In [15]:
# ep.add_annotations_to_database(subs_endpoint)

### Total annotation check
This only counts the total number of annotations per endpoint we have

In [23]:
ep_refactored.get_total_annotations_per_endpoint(chemid_endpoint)

             Endpoints     YES  Pending     NO  No information
0                  CMR  1362.0     39.0    0.0          3293.0
1                  PBT    38.0      0.0  356.0          4300.0
2                 vPvB    43.0      0.0  356.0          4295.0
3  Endocrine Disruptor   148.0      0.0    0.0          4546.0