In [1]:
import numpy as np
import pandas as pd

from UpdateDB_ref import Endpoint_annotation as ep

*** CompoundDB module found. Will check the synonyms table to resolve CAS. ***

In [2]:
ep_refactored = ep.Endpoint(host='gea', dbname='cii_v3_test_refactored', user='postgres', password='DBAdmin')

In [3]:
endpoints_ref = ep_refactored.get_endpoints()

In [4]:
ep_refactored.get_total_annotations_per_endpoint(endpoints_ref)

/home/emarch/miniconda3/envs/inditex/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)
/home/emarch/miniconda3/envs/inditex/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

             Endpoints     YES  Pending     NO  No information
0              subs_id     0.0      0.0    0.0             0.0
1                  cmr  1401.0     39.0  489.0          2765.0
2                  pbt    44.0      0.0  385.0          4265.0
3                 vpvb    49.0      0.0  385.0          4260.0
4  endocrine_disruptor   158.0      0.0    0.0          4536.0
5           sensitiser    68.0     72.0    0.0          1287.0
6              chem_id     0.0      0.0    0.0             0.0

In [5]:
endpoint_pos = pd.read_sql_query("""select pea.annotation_id, rn.names, pea.endpoint 
from positive_endpoint_annotations pea
left join regulation_names rn on rn.id = pea.annotation_id
order by pea.id """, ep_refactored.conn)

In [6]:
endpoint_dict = {'CMR':endpoint_pos.loc[endpoint_pos['endpoint'] == 'cmr','names'].tolist(),
                 'PBT':endpoint_pos.loc[endpoint_pos['endpoint'] == 'pbt','names'].tolist(),
                 'vPvB':endpoint_pos.loc[endpoint_pos['endpoint'] == 'vpvb','names'].tolist(),
                 'Endocrine Disruptor':endpoint_pos.loc[endpoint_pos['endpoint'] == 'endocrine disruptor','names'].tolist()}

In [7]:
chem_ids = ep_refactored.get_chem_id_dataframe()

In [8]:
subs = ep_refactored.get_substances()

In [9]:
len(chem_ids)

5672

In [10]:
len(subs)

4694

In [11]:
len(subs[['class_name','preferred_name','mol_formula']].drop_duplicates())

4611

In [12]:
len(chem_ids.loc[chem_ids['chem_type_id'] == 1, :])

4694

In [13]:
subs.loc[subs['preferred_name'] == "Silicon dioxide"].sort_values(by='id')

       id         class_name   preferred_name mol_formula
42    919  Textile Chemicals  Silicon dioxide        O2Si
698  4639  Textile Chemicals  Silicon dioxide        O2Si

In [14]:
rep_subs = subs.loc[(subs['id'] > 4634) &
                    (~subs['preferred_name'].isna()), 'preferred_name'].unique()

In [15]:
repeated_subs = subs.loc[subs['preferred_name'].isin(rep_subs)].sort_values(by='preferred_name')

In [16]:
# repeated_subs.to_excel('repeated_subs_cii.xlsx')

In [17]:
chem_ids_unique = chem_ids.loc[chem_ids['chem_type_id'] == 1, 'id'].unique()

In [18]:
%%time
chemid_endpoint = ep_refactored.get_annotations_for_chem_id(chem_ids_unique, endpoint_dict)

CPU times: user 2min 19s, sys: 1.71 s, total: 2min 21s
Wall time: 11min 32s

In [19]:
len(chemid_endpoint)

4694

In [20]:
chemid_endpoint.sort_values(by='chem_id').head()

,chem_id,CMR,PBT,vPvB,Endocrine Disruptor
24,1.0,YES,NO,NO,No information
25,2.0,No information,No information,No information,No information
26,5.0,YES,NO,NO,YES
27,7.0,YES,NO,NO,No information
28,9.0,YES,No information,No information,No information

In [21]:
len(endpoints_ref)

4694

In [22]:
endpoints_ref.sort_values(by='chem_id')

,id,subs_id,cmr,pbt,vpvb,endocrine_disruptor,sensitiser,chem_id
0,0,1,YES,NO,NO,No information,YES,1
4652,4652,1,YES,NO,NO,No information,YES,2
1,1,2,YES,NO,NO,YES,No information,5
2,2,3,YES,NO,NO,No information,No information,7
3,3,4,YES,No information,No information,No information,No information,9
4,4,5,YES,No information,No information,No information,No information,11
5,5,6,YES,No information,No information,No information,No information,13
6,6,7,YES,No information,No information,No information,No information,15
7,7,8,YES,No information,No information,No information,No information,17
8,8,9,YES,No information,No information,No information,No information,19
9,9,10,YES,No information,No information,No information,No information,21
10,10,11,YES,No information,No information,No information,No information,22
11,11,12,No information,No information,No information,No information,No information,24
12,12,13,YES,NO,NO,YES,No information,25
13,13,14,YES,NO,NO,YES,No information,27
14,14,15,YES,YES,YES,YES,No information,29
15,15,16,YES,No information,No information,YES,No information,31
16,16,17,YES,NO,NO,YES,No information,33
17,17,18,NO,NO,NO,YES,No information,35
4681,4681,18,NO,NO,NO,YES,No information,36
18,18,19,YES,NO,NO,YES,No information,39
4634,4634,19,YES,NO,NO,YES,No information,40
19,19,20,YES,No information,No information,YES,No information,43
20,20,21,YES,NO,NO,YES,No information,45
21,21,22,YES,NO,NO,No information,No information,47
22,22,23,YES,No information,No information,YES,No information,49
23,23,24,YES,No information,No information,YES,No information,51
24,24,25,YES,NO,NO,YES,YES,53
25,25,26,No information,No information,No information,YES,No information,55
26,26,27,YES,No information,No information,YES,No information,56
...,...,...,...,...,...,...,...,...
4606,4606,4607,YES,No information,No information,No information,None,5643
4607,4607,4608,No information,No information,No information,No information,None,5644
4608,4608,4609,YES,No information,No information,No information,None,5645
4609,4609,4610,No information,No information,No information,No information,None,5646
4610,4610,4611,No information,No information,No information,No information,None,5647
4611,4611,4612,No information,No information,No information,No information,None,5648
4612,4612,4613,YES,No information,No information,No information,None,5649
4613,4613,4614,Pending,No information,No information,No information,None,5650
4614,4614,4615,YES,No information,No information,No information,None,5651
4615,4615,4616,YES,No information,No information,No information,None,5652
4616,4616,4617,No information,No information,No information,No information,None,5653
4617,4617,4618,No information,No information,No information,No information,None,5654
4618,4618,4619,No information,No information,No information,No information,None,5655
4619,4619,4620,YES,No information,No information,No information,None,5656
4620,4620,4621,No information,No information,No information,No information,None,5657
4621,4621,4622,No information,No information,No information,No information,None,5658
4622,4622,4623,NO,No information,No information,No information,None,5659
4623,4623,4624,No information,No information,No information,No information,None,5660
4624,4624,4625,No information,No information,No information,No information,None,5661
4625,4625,4626,No information,No information,No information,No information,None,5662
4626,4626,4627,NO,No information,No information,No information,None,5663
4627,4627,4628,No information,No information,No information,No information,None,5664
4628,4628,4629,No information,No information,No information,No information,None,5665
4629,4629,4630,No information,No information,No information,No information,None,5666
4630,4630,4631,No information,No information,No information,No information,None,5667
4631,4631,4632,YES,No information,No information,No information,None,5668
4632,4632,4633,No information,No information,No information,No information,None,5669
4633,4633,4634,No information,No information,No information,No information,None,5670
225,225,226,No information,No information,No information,No information,No information,5671
510,510,511,YES,No information,No information,No information,YES,5672

### Here it should come the check part
After getting the endpoint annotations per substance, and at the same time we update the database with them, the check function should come.
Before updating the DB, the check function should see if there's a substance id in the table.
If no, adds the new substance with the annotations.
If there is, then it checks the annotations and applies the filters we've spoken

In [23]:
# ep.add_annotations_to_database(subs_endpoint)

### Total annotation check
This only counts the total number of annotations per endpoint we have

In [24]:
ep_refactored.get_total_annotations_per_endpoint(chemid_endpoint)

             Endpoints     YES  Pending     NO  No information
0                  CMR  1362.0     39.0    0.0          3293.0
1                  PBT    38.0      0.0  357.0          4299.0
2                 vPvB    43.0      0.0  357.0          4294.0
3  Endocrine Disruptor   148.0      0.0    0.0          4546.0